
 
body {
  
  font-family: "Gill Sans";
  
}   



.aside {
    width: var(--sidebar-width);
    padding: 0.15in var(--sidebar-horizontal-padding);
}

[data-id="title"] h1 {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.5;
}

:root {
  --sidebar-background-color: rgba(213, 220, 188, 1);
  --sidebar-width: 12rem;
  --root-font-size: 12pt;
  
}

.densityplot {
    position: relative;
    right: -39rem;
    top: -2rem;
    max-width: 125px;
    max-height: 0px;
}


img {
    max-width: 130%;
}


.aside .level2 {
    margin-top: 0in;
    margin-bottom: .5in;
}

.pagedjs_page {
  
    --pagedjs-margin-left: 0in !important;
}

[data-id="main"] {
  font-size: 0.9rem;  
}



.pagedjs_page {
  --pagedjs-margin-top: .5in !important;
}

li {
    list-style-type: none;
    font-size: .8rem;
}

.details .location {
    float: right;
    font-size: 8pt !important;
    padding-bottom: .5rem;
}

[data-id="disclaimer"] {
    position: absolute;
    bottom: -200px;
}



.details h3 {
    font-size: 0.8rem;
    font-family: "Gill Sans";
    font-weight: 500;
}

a {
color: black !important;
}

a:hover {
color: white !important;
}



